*
!.xinitrc
!.tmux.conf
!.zshrc
!.p10k.zsh
!.inputrc
!.wezterm.lua
!.fzf.zsh
!.config

!.config/i3
!.config/i3/config
!.config/i3/boot.sh
!.config/i3/boot.sh
!.config/i3/config
!.config/i3/wallpaper.png

!.config/coc
!.config/coc/commands
!.config/coc/extensions
!.config/coc/extensions/package.json

!.config/nvim
!.config/nvim/init.lua
!.config/nvim/lazy-lock.json

!.config/nvim/lua

!.config/nvim/lua/theprimeagen
!.config/nvim/lua/theprimeagen/init.lua
!.config/nvim/lua/theprimeagen/lazy_init.lua
!.config/nvim/lua/theprimeagen/remap.lua
!.config/nvim/lua/theprimeagen/set.lua
!.config/nvim/lua/theprimeagen/lazy
!.config/nvim/lua/theprimeagen/lazy/cloak.lua
!.config/nvim/lua/theprimeagen/lazy/init.lua
!.config/nvim/lua/theprimeagen/lazy/snippets.lua
!.config/nvim/lua/theprimeagen/lazy/trouble.lua
!.config/nvim/lua/theprimeagen/lazy/colors.lua
!.config/nvim/lua/theprimeagen/lazy/local.lua
!.config/nvim/lua/theprimeagen/lazy/telescope.lua
!.config/nvim/lua/theprimeagen/lazy/undotree.lua
!.config/nvim/lua/theprimeagen/lazy/fugitive.lua
!.config/nvim/lua/theprimeagen/lazy/lsp.lua
!.config/nvim/lua/theprimeagen/lazy/treesitter.lua


!.config/nvim/coc-settings.json
!.config/nvim/init.vim

!.config/rofi
!.config/rofi/config.rasi

!.config/dunst
!.config/dunst/dunstrc

!.config/i3status
!.config/i3status/config

!powerlevel10k/

!powerlevel10k/Makefile
!wallpapers
!wallpapers/blackhole.png
!wallpapers/hole.jpeg
!wallpapers/nebolus.jpg
!wallpapers/stars.jpeg
!wallpapers/stars2.jpg

