*
!.xinitrc
!.tmux.conf
!.zshrc
!.p10k.zsh
!.inputrc
!.wezterm.lua
!.fzf.zsh
!.config

!.config/i3
!.config/i3/config
!.config/i3/boot.sh
!.config/i3/boot.sh
!.config/i3/config
!.config/i3/wallpaper.png

!.config/coc
!.config/coc/commands
!.config/coc/extensions
!.config/coc/extensions/package.json

!.config/nvim
!.config/nvim/coc-settings.json
!.config/nvim/init.vim

!.config/rofi
!.config/rofi/config.rasi

!.config/dunst
!.config/dunst/dunstrc

!.config/i3status
!.config/i3status/config

!powerlevel10k/

!powerlevel10k/Makefile
!wallpapers
!wallpapers/blackhole.png
!wallpapers/hole.jpeg
!wallpapers/nebolus.jpg
!wallpapers/stars.jpeg
!wallpapers/stars2.jpg

